<h1><%= @user.name %> [<%= @user.email %>]</h1>

<div class="events-container">
  <div class="my-events">
    <h2>My upcoming Events</h2>
    <ul>
      <%= render @user.upcoming_events %>
    </ul>
    <br />
    <h2>My past Events</h2>
    <ul>
      <%= render @user.previous_events %>
    </ul>
    <br />
    <h2>All my Events</h2>
    <ul>
      <%= render @user.events %>
    </ul>
  </div>
  <div class="attended-events">

    <h2>Upcoming Events to attend</h2>

    <ol>
      <%= render @user.attended_events.upcoming %>
    </ol>
    <br>

    <h2>Attended Events</h2>

    <ol>
      <%= render @user.attended_events.past %>
    </ol>
    <br>

  </div>
</div>
