<h1>Events#index</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= event.name %> - <%= event.location %> | By <%= event.creator.name %></li>
  <% end %>
</ul>


<br>
<h2>My past Events</h2>

<ol>
  <% @events.past.each do |event| %>
    <li> <%= event.name %> - <%= event.event_date %> </li>
  <% end %>
</ol>
<br>
<h2>My Upcoming Events</h2>

<ol>
  <% @events.upcoming.each do |event| %>
    <li> <%= event.name %> - <%= event.event_date %> </li>
  <% end %>
</ol>